body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #E3FFFC;
    height: 100vh;
    padding: 16px;
    overflow: hidden;
}

.btn-easycar{
    color: white;
    background-color: #084A48;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 25px 0;
    width: 260px;
    height: 50px;
}

.btn-easycar__entrar{
    font-size: 18px;
}