body{
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    text-align: center;
    padding: 2rem 1rem;
    background-image: linear-gradient(21deg, #999 49.95%, rgba(255, 255, 255, 0.00) 87.42%);
}

.carro-nm{
    padding: 1rem;
    display: flex;
}
h1{
    font-size: 18px;
    font-weight: 600;
}
.carro-nm p{
    font-size: 12px;
}
.carro-nm img{
    margin-left: 1rem;
}

.preco{
    font-size: 12px;
    padding: 1rem;
}

.carro-ds{
    font-size: 15px;
    padding: 0 1rem;
}
.lorem{
    margin-bottom: .8rem;
}

.carro-banner-div{
    width: 100vw;
    overflow-x: hidden;
}
.carro-banner{
    margin: 2rem 0;
    width: 200vw;
}

.especificacoes{
    color: #5F5F5F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}
.especificacao{
    display: flex;
    align-items: center;
}
.especificacao p{
    margin-left: 0.5rem;
}

.alugar-btn{
    background-color: #B1C3C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 2rem 0;
    height: 30vh;
}

/* Media Queries */

@media (min-width: 768px){
    .header img{
        width: 40vw;
    }
    h1{
        font-size: 24px;
    }
    .carro-nm{
        padding: 2rem 3rem;
    }
    .carro-nm p{
        font-size: 16px;
    }
    .carro-nm img{
        margin-left: 1rem;
        width: 5vw;
    }
    .preco{
        font-size: 18px;
        padding: 1rem 3rem;
    }
    .carro-banner{
        width: 100vw;
    }
    .carro-ds{
        padding: 0 3rem;
        font-size: 20px;
    }
    .icon span{
        font-size: 40px ;
    }
    .especificacao p{
        font-size: 18px;
    }
    .alugar-btn a div button{
        font-size: 20px !important;
    }
}