body{
    padding: 0;
    text-align: center;
}
header{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 4rem 5rem;
    background-color: #084A48;
    color: white;
}
main{
    padding: 1rem;
}
h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.foto-perfil{
    width: 80%;
    margin-top: 3rem;
    border-radius: 0.375rem;
}
.tag-usuario{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tag-usuario p{
    margin-top: 1.5rem ;
    margin-bottom: .5rem;
}
.input-group{
    width: 80vw;
}


.infos{
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: start;
}
.infos p{
    margin-bottom: .875rem;
}
.dado-bc{
    font-size: 10px;
    margin-bottom: .2rem !important;
    opacity: .9;
}

.infos2{
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: -webkit-center;
}

.link-color{
    font-weight: bold;
    color: #000088;
}
.redef-msg{
    padding-bottom: 15px;
}

/* Media Queries */

@media (min-width:768px){
    main{
        padding: 2rem;
    }
    h2{
        font-size: 20px;
    }
    
    .card-aluguel{
        width: 80vw;
    }
    .foto-perfil{
        width: 30%;
    }
    .input-group{
        width: 50vw;
    }
    .dado-bc{
        font-size: 16px !important;
    }
    .infos p{
        font-size: 20px;
    }
}
