body{
    padding: 16px;
    height: -webkit-fill-available;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_text{
    margin-top: 24px;
}
h1{
    font-size: 34px;
    font-weight: bold;
}
.header_text p{
    font-size: 14px;
}

.nuvens{
    margin:20px 0 40px 0;
    display: flex;
    flex-direction: column;
}

.login_btns{
    width: 100vw;
    background-image: linear-gradient(184deg, rgba(8, 74, 72, 0.70) -32.79%, #084A48 96.53%);
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn-google__logo{
    background-color: #084A48;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    margin-right: 13px;
}
.btn-easycar{
    color: white;
    background-color: #084A48;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 25px 0;
    width: 252px;
    height: 42px;
}
.btn-easycar__entrar{
    font-size: 18px;
}
